<%#@ module_name: TwoB %>
<%#@ class_name: ThreadView %>
<%#@ param: thread %>
<%#@ content_type: text/html; charset=UTF-8 %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<title><%=h thread.title %></title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<link rel="stylesheet" type="text/css" href="/thread.css" />
	<script type="text/javascript" src="/jquery-1.3.1.js"></script>
	<script type="text/javascript" src="/popup.js"></script>
</head>

<body onload="javascript: b2rPopup.startup();">
	<div class="flow">
		<h1 id="title" class="title"><%=h thread.title %></h1>
		<ul class="menu">
			<li><a href="../">スレッド一覧</a></li>
			<li><a href="./">全レス表示</a></li>
			<li><a href="./subscribe5">続きを購読</a></li>
			<li><a href="#firstNew">新着にジャンプ</a></li>
			<li><a href="./delete_cache?reload=subscribe5#firstNew">キャッシュをクリア</a></li>
% if thread.bookmarking?
			<li><a href="delete_bookmark">ブックマークを削除</a></li>
% end
			<li><a href="<%=h thread.original_url %>l50" target="_blank">ブラウザ表示</a></li>
			<li><a id="view_dat_file" href="<%=h thread.dat_url %>" target="_blank">datファイル表示</a></li>
		</ul>
	</div>

	<div class="thread_body">
% thread.each_item do |item|
%   item.match(:res) do |res|
		<div id="_<%= res.number %>" class="res">
			<dl class="<%= res.new? ? 'new' : '' %> <%=h res.age? ? 'age' : '' %>">
				<dt class="header">
					<span class="number"><%= res.number %></span>
					<span class="name"><%=h res.name %><% if res.has_trip? then %> <span class="trip">◆<%=h res.trip %></span><% end %></span>
					[<span class="mail"><%=h res.mail %></span>]
					Date:<span class="date"><%=h res.date %></span>
					ID:<span class="id"><%=h res.id %></span>
					<span class="bookmark">[<a href="<%= res.number %>/bookmark">栞</a>]</span>
				</dt>
				<dd class="body">
%     res.body.each do |body|
%       case body.body_type
%         when :anchor
<%				%><a href="#_<%= body.top_id %>" class="anchor" onmouseover="b2rPopup.resPopup.mouseOver(event, <%= body.top_id %>, <%= body.bottom_id %>, <%= thread.visible_all?(body) ? "b2rPopup.resPopup.local" : "b2rPopup.resPopup.remote" %>);"><%=h body %></a><% %>
%         when :link
<%				%><a href="<%=h body.url %>" class="<%= body.link_type %>" target="_blank"><%=h body %></a><% %>
%         when :break_line
<%				%><br/>
%         else
<%				%><%= body %><% %>
%       end
%     end

				</dd>
			</dl>
		</div>
%   end
%   item.match(:gap) do |gap|
		<a href="#{gap.nextRes.number - 50}-">もっと表示</a>
%   end
%   item.match(:border) do
		<hr id="firstNew" />
%   end
% end
	</div>
</body>
</html>
